.DS_Store
/pds-middleware/frontend/node_modules
/pds-middleware/backend/node_modules
/etc/letsencrypt/live/iamtestingbed.com
/pds-middleware/backend/logs
/pds-middleware/backend/.env
/triple-store/fuseki-data
/pds-middleware/frontend/build
