.DS_Store
Aries-storage/pds-middleware/frontend/node_modules
Aries-storage/pds-middleware/backend/node_modules
Aries-storage/etc/letsencrypt/live/iamtestingbed.com
Aries-storage/pds-middleware/backend/logs
pds-middleware/backend/.env
triple-store/fuseki-data